#button:active {
  width: 90vmin;
  height: 90vmin;
  border: none;
  background: url('/static/button-pressed.svg') no-repeat;
  background-size: contain;
}

#button {
  width: 90vmin;
  height: 90vmin;
  border: none;
  background: url('/static/button.svg') no-repeat, url('/static/button-pressed.svg');
  background-size: contain, 0px;
}
